html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0px 25px;
}

.row {
  display: flex;
}

.main .introduce-section {
  background: #0D1A30;
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 65px;
}
.main .introduce-section .logo {
  margin-bottom: 64px;
}
.main .introduce-section .logo > img {
  height: 80px;
}
.main .introduce-section .introduce-wrapper {
  align-items: center;
  gap: 42px;
}
.main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(1) {
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(2) {
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 56px;
  line-height: 124%;
  margin-bottom: 48px;
}
.main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(3), .main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(4) {
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(4) {
  margin-bottom: 48px;
}
.main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(5) {
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #4EBD09;
  margin-bottom: 48px;
  margin-right: 422px;
}
.main .introduce-section .introduce-wrapper .introduce-content button {
  width: 380px;
  height: 50px;
  background: #4EBD09;
  border-radius: 6px;
  border: none;
  padding: 0px 12px;
  cursor: pointer;
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.main .benefit-section {
  padding-top: 104px;
  text-align: center;
}
.main .benefit-section .benefit-header {
  font-family: "Exo 2";
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 48px;
}
.main .benefit-section .benefit-wrapper {
  gap: 24px;
}
.main .benefit-section .benefit-wrapper .benefit-item {
  width: 410px;
  padding: 0px 16px;
}
.main .benefit-section .benefit-wrapper .benefit-item > img {
  margin-bottom: 12px;
}
.main .benefit-section .benefit-wrapper .benefit-item > p:nth-child(2) {
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}
.main .benefit-section .benefit-wrapper .benefit-item > p:nth-child(3) {
  font-family: "Exo 2";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.main .who-is-section {
  padding-top: 104px;
}
.main .who-is-section .who-is-header {
  text-align: center;
  font-family: "Exo 2";
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 48px;
}
.main .who-is-section .who-is-wrapper {
  gap: 32px;
}
.main .who-is-section .who-is-wrapper .who-is-text {
  width: 50%;
}
.main .who-is-section .who-is-wrapper .who-is-text > p:nth-child(1) {
  font-family: "Exo 2";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}
.main .who-is-section .who-is-wrapper .who-is-text > p:nth-child(2) {
  font-family: "Exo 2";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}
.main .who-is-section .who-is-wrapper .who-is-scales {
  width: 50%;
}
.main .who-is-section .who-is-wrapper .who-is-scales .scale-item .scale-row {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.main .who-is-section .who-is-wrapper .who-is-scales .scale-item .scale-row .scale-text > p:nth-child(1) {
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.main .who-is-section .who-is-wrapper .who-is-scales .scale-item .scale-row .scale-text > p:nth-child(2) {
  font-family: "Exo 2";
  font-weight: 400;
  font-size: 16px;
  line-height: 124%;
}
.main .who-is-section .who-is-wrapper .who-is-scales .scale-item .scale-row .scale-salary {
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.main .who-is-section .who-is-wrapper .who-is-scales .scale-item .scale-parent {
  position: relative;
  width: 100%;
  height: 24px;
  border-radius: 6px;
  background: linear-gradient(147.71deg, #F0F5E0 20.89%, #E0F5E3 80.64%);
  margin-bottom: 24px;
}
.main .who-is-section .who-is-wrapper .who-is-scales .scale-item .scale-parent .scale-children {
  position: absolute;
  height: 100%;
  background: #4EBD09;
  border-radius: 6px;
}
.main .who-is-section .who-is-wrapper .who-is-scales .scale-item .scale-parent .scale-children-1 {
  width: 22%;
}
.main .who-is-section .who-is-wrapper .who-is-scales .scale-item .scale-parent .scale-children-2 {
  width: 68%;
}
.main .who-is-section .who-is-wrapper .who-is-scales .scale-item .scale-parent .scale-children-3 {
  width: 100%;
}
.main .who-is-section .who-is-wrapper .who-is-tablet-content {
  display: none;
}
.main .who-is-section .who-is-tablet-text {
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}
.main .who-is-section .who-is-tablet-btn {
  width: 380px;
  height: 50px;
  background: #4EBD09;
  border-radius: 6px;
  border: none;
  padding: 0px 12px;
  cursor: pointer;
  font-family: "Exo 2";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(5) {
    margin-right: 160px;
  }
  .main .benefit-section {
    padding-top: 72px;
  }
  .main .benefit-section .benefit-wrapper .benefit-item {
    padding: 0px 5px;
  }
}
@media (max-width: 992px) {
  .container {
    padding: 0px 16px;
  }
  .main .introduce-section {
    padding: 48px 0px;
  }
  .main .introduce-section .logo {
    margin-bottom: 48px;
  }
  .main .introduce-section .introduce-wrapper .introduce-content {
    margin-right: 100px;
  }
  .main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(2) {
    margin-bottom: 32px;
  }
  .main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(3), .main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(4) {
    display: none;
  }
  .main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(4) {
    margin-bottom: 32px;
  }
  .main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(5) {
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .main .introduce-section .introduce-wrapper .introduce-img {
    display: none;
  }
  .main .benefit-section .benefit-header {
    font-family: "Exo 2";
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
  }
  .main .benefit-section .benefit-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .main .benefit-section .benefit-wrapper .benefit-item {
    width: 450px;
  }
  .main .who-is-section {
    padding-top: 72px;
  }
  .main .who-is-section .who-is-header {
    font-family: "Exo 2";
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
  }
  .main .who-is-section .who-is-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .main .who-is-section .who-is-wrapper .who-is-text {
    width: 100%;
  }
  .main .who-is-section .who-is-wrapper .who-is-scales {
    width: 100%;
  }
  .main .who-is-section .who-is-wrapper .who-is-desktop-content {
    display: none;
  }
  .main .who-is-section .who-is-wrapper .who-is-tablet-content {
    display: block;
  }
}
@media (max-width: 576px) {
  .main .introduce-section .introduce-wrapper .introduce-content {
    margin-right: 0px;
  }
  .main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(2) {
    font-family: "Exo 2";
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(4) {
    margin-bottom: 32px;
  }
  .main .introduce-section .introduce-wrapper .introduce-content > p:nth-child(5) {
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .main .introduce-section .introduce-wrapper .introduce-content button {
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
  .main .benefit-section .benefit-wrapper .benefit-item {
    padding: 0px 0px;
  }
  .main .benefit-section .benefit-wrapper .benefit-item {
    width: 100%;
  }
  .main .who-is-section .who-is-header {
    margin-bottom: 32px;
  }
  .main .who-is-section .who-is-wrapper .who-is-text > p:nth-child(1) {
    margin-bottom: 32px;
  }
  .main .who-is-section .who-is-wrapper .who-is-text > p:nth-child(2) {
    margin-bottom: 0;
  }
  .main .who-is-section .who-is-wrapper .who-is-scales {
    margin-bottom: -24px;
  }
  .main .who-is-section .who-is-wrapper .who-is-tablet-text {
    margin-bottom: 32px;
  }
  .main .who-is-section .who-is-wrapper .who-is-tablet-btn {
    width: 100%;
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}