@use 'reset';
@use 'fonts';

@mixin mainButton() {
    width: 380px;
    height: 50px;
    background: #4EBD09;
    border-radius: 6px;
    border: none;
    padding: 0px 12px;
    cursor: pointer;
    @include fonts.b1();
}

*{
    box-sizing: border-box;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0px 25px;
}
.row {
    display: flex;
}
body{
    color: #0D1A30;
}

// Desktop 
.main{
    .h2-header {
        @include fonts.h2();
        margin-top: 104px;
        margin-bottom: 48px;
        text-align: center;
    }
    .introduce-section {
        background: #0D1A30;
        color: #ffffff;
        padding-top: 24px;
        padding-bottom: 65px;
        .logo {
            margin-bottom: 64px;
            >img{
                height: 80px;
            }
        }
        .introduce-wrapper {
            align-items: center;
            gap: 42px;
            .introduce-content {
                >p:nth-child(1) {
                    @include fonts.t1();
                }
                >p:nth-child(2) {
                    @include fonts.h1();
                    margin-bottom: 48px;
                }
                >p:nth-child(3), >p:nth-child(4) {
                    @include fonts.p2();
                }
                >p:nth-child(4) {
                    margin-bottom: 48px;
                }
                >p:nth-child(5) {
                    @include fonts.p2();
                    color: #4EBD09;
                    margin-bottom: 48px;
                    margin-right: 422px;
                }
                button{
                    @include mainButton();
                    color: #0D1A30;
                }
            }
        }
    }
    .benefit-section {
        text-align: center;
        .benefit-wrapper {
            gap: 24px;
            .benefit-item {
                width: 410px;
                padding: 0px 16px;
                >img{
                    margin-bottom: 12px;
                }
                >p:nth-child(2) {
                    @include fonts.t1();
                    margin-bottom: 25px;
                }
                >p:nth-child(3) {
                    @include fonts.t2();
                }
            }
        }
    }
    .who-is-section {
        .who-is-header {
            text-align: center;
        }
        .who-is-wrapper {
            gap: 32px;
            .who-is-text {
                width: 50%;
                >p:nth-child(1) {
                    @include fonts.t2();
                    margin-bottom: 24px;
                }
                >p:nth-child(2) {
                    @include fonts.t2();
                    margin-bottom: 24px;
                }
            }
            .who-is-scales {
                width: 50%;
                .scale-item {
                    .scale-row {
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 16px;
                        .scale-text {
                            >p:nth-child(1) {
                                @include fonts.p2();
                            }
                            >p:nth-child(2) {
                                @include fonts.t4();
                            }
                        }
                        .scale-salary {
                            @include fonts.p1();
                        }
                    }
                    .scale-parent {
                        position: relative;
                        width: 100%;
                        height: 24px;
                        border-radius: 6px;
                        background: linear-gradient(147.71deg, #F0F5E0 20.89%, #E0F5E3 80.64%);
                        margin-bottom: 24px;
                        .scale-children {
                            position: absolute;
                            height: 100%;
                            background: #4EBD09;
                            border-radius: 6px;
                            
                        }
                        .scale-children-1 {
                            width: 22%;
                        }
                        .scale-children-2 {
                            width: 68%;
                        }
                        .scale-children-3 {
                            width: 100%;
                        }
                    }
                }
            }
            .who-is-tablet-content {
                display: none;
            }
        }
        .who-is-tablet-text {
            @include fonts.t1();
            margin-bottom: 24px;
        }
        .who-is-tablet-btn {
            @include mainButton();
            color: #ffffff;
        }
    }
    .how-to-know-section {
        padding-bottom: 104px;
        .how-to-know-header {
            text-align: center;
        }
        .how-to-know-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            .how-to-know-item {
                .how-to-know-text {
                    @include fonts.t2();
                }
            }
        }
    }
    .check-img {
        min-width: 24px;
        height: 24px;
        background-image: url(images/check-circle.svg);
        margin-right: 8px;
    }
    .start-in-it {
        background: #0D1A30;
        color: #ffffff;
        text-align: center;
        @include fonts.h2();
        padding: 48px 0px;
    }
    .video-section {
        .video {
            width: 50%;
            height: 354px;
            background: #8090AB;
            border-radius: 12px;
        }
        .video-section-wrapper {
            align-items: center;
            justify-content: center;
            gap: 32px;
            .video-section-text {
                width: 50%;
                justify-self: center;
                .video-section-item {
                    @include fonts.t2();
                    margin-bottom: 24px;
                }
            }
        }
    }
    .numbers-section {
        padding-bottom: 104px;
        .numbers-header {
            margin-left: 170px;
            margin-right: 170px;
        }
        .numbers-row {
            margin-bottom: 32px;
            .numbers-item {
                text-align: center;
                width: 330px;
                >p:nth-child(1) {
                    @include fonts.h1();
                    color: #4EBD09;
                }
                >p:nth-child(2) {
                    @include fonts.t4();
                }
            }
        }
        .numbers-comparison {
            padding: 48px 38px;
            background: linear-gradient(126.48deg, #FFE2D0 -25%, #FCF9E8 41.69%);
            border-radius: 12px;
            .numbers-comparison-item {
                justify-content: space-between;
                border-bottom: 1px solid #D9D9D9;;
                >div{
                    margin: 22px 0px;
                    width: 25%;
                    text-align: center
                }
                .numbers-comparison-text1 {
                    @include fonts.t1();
                }
                .numbers-comparsion-long-text {
                    margin: 10px 0px;
                }
                .numbers-comparison-text2 {
                    @include fonts.t2();
                }
                .numbers-check-img {
                    background-image: url(images/check.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .numbers-x-img {
                    background-image: url(images/x.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            .numbers-comparison-item:first-child{
                border: none;
            }
        }
    }
    .sign-up-section {
        padding: 48px 0px;
        text-align: center;
        background: #0D1A30;
        button{
            @include mainButton();
            color: #0D1A30;
        }
    }
    .benefits-section {
        padding-bottom: 104px;
        .benefits-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            .benefits-item {
                @include fonts.t2();
            } 
        }
        .benefits-footer {
            @include fonts.p2();
            text-align: center;
            margin-top: 32px;
        }
    }
    .form-section {
        background: #0D1A30;
        color: #ffffff;
        padding: 48px 0px;
        .form-section-wrapper {
            align-items: center;
            gap: 32px;
            .form-section-text {
                width: 50%;
                >p:nth-child(1) {
                    @include fonts.h2();
                    margin-bottom: 32px;
                }
                >p:nth-child(2) {
                    @include fonts.p2();
                    margin-bottom: 32px;
                }
                >p:nth-child(3) {
                    @include fonts.p2();
                    color: #4EBD09;
                }
            }
            .form {
                width: 50%;
                background: #FFFFFF;
                border-radius: 12px;
                padding: 32px;
                color: #0D1A30;
                .form-input {
                    flex-direction: column;
                    gap: 8px;
                    margin-bottom: 24px;
                    label {
                        @include fonts.b2();
                    }
                    input{
                        @include fonts.t2();
                        border: 1px solid #0D1A30;
                        border-radius: 6px;
                        padding: 13px 16px;
                        caret-color: #4EBD09;
                        &:focus {
                            outline-color: #4EBD09;
                        }
                    }
                    &:focus-within {
                        color: #4EBD09;
                    }
                }
                button {
                    @include mainButton();
                    margin-top: 24px;
                    color: #ffffff;
                }
            }
        }
    }
}

// Laptop
@media(max-width: 1200px) {
    .main{
        .introduce-section {
            .introduce-wrapper {
                .introduce-content {
                    >p:nth-child(5) {
                        margin-right: 160px;
                    }
                }
            }
        }
        .benefit-section {
            .benefit-wrapper {
                .benefit-item {
                    padding: 0px 5px;
                }
            }
        }
        .numbers-section {
            .numbers-header {
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}

// Tablet
@media(max-width: 992px) {
    .container {
        padding: 0px 16px;
    }
    .main{
        .h2-header {
            @include fonts.h3();
            margin-top: 72px;
            margin-bottom: 32px;
        }
        .introduce-section {
            padding: 48px 0px;
            .logo {
                margin-bottom: 48px;
            }
            .introduce-wrapper {
                .introduce-content {
                    margin-right: 100px;
                    >p:nth-child(2) {
                        margin-bottom: 32px;
                    }
                    >p:nth-child(3), >p:nth-child(4) {
                        display: none;
                    }
                    >p:nth-child(4) {
                        margin-bottom: 32px;
                    }
                    >p:nth-child(5) {
                        margin-right: 0px;
                        margin-bottom: 32px;
                    }
                }
                .introduce-img{
                    display: none;
                }
            }
        }
        .benefit-section {
            .benefit-wrapper {
                flex-direction: column;
                align-items: center;
                gap: 32px;
                .benefit-item {
                    width: 450px;
                }
            }
        }
        .who-is-section {
            .who-is-wrapper {
                flex-direction: column;
                align-items: center;
                .who-is-text {
                    width: 100%;
                }
                .who-is-scales {
                    width: 100%;
                }
                .who-is-desktop-content {
                    display: none;
                }
                .who-is-tablet-content {
                    display: block;
                }
            }
        }
        .how-to-know-section {
            padding-bottom: 48px;
            .how-to-know-wrapper {
                grid-template-columns: 1fr;
            }
        }
        .video-section {
            .video-section-wrapper {
                flex-direction: column;
                gap: 24px;  
                .video {
                    width: 100%;
                }
                .video-section-text {
                    width: 100%;
                }
            }
        }
        .numbers-section {
            padding-bottom: 48px;
            .numbers-row {
                flex-direction: column;
                gap: 24px;
                align-items: center;
                .numbers-item {
                    width: 75%;
                }
            }
        }
        .benefits-section {
            padding-bottom: 48px;
            .benefits-wrapper {
                grid-template-columns: 1fr;
            }
            .benefits-footer {
                margin-top: 24px;
            }
        }
        .form-section {
            .form-section-wrapper {
                flex-direction: column;
                .form-section-text {
                    width: 100%;
                    .form-section-text-hide-tablet {
                        display: none;
                    }
                    >p:nth-child(1) {
                        @include fonts.p2();
                        margin-bottom: 32px;
                    }
                }
                .form {
                    width: 70%;
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }
}

// hide numbers-comparison
@media(max-width: 750px) {
    .main {
        .numbers-section {
            .numbers-row {
                margin-bottom: 0px;
            }
            .numbers-comparison {
                display: none;
            }
        }
    }
}

// Mobile
@media(max-width: 576px) {
    .main{
        .introduce-section {
            .introduce-wrapper {
                .introduce-content {
                    margin-right: 0px;
                    >p:nth-child(2) {
                        @include fonts.h2();
                        margin-bottom: 32px;
                    }
                    >p:nth-child(4) {
                        margin-bottom: 32px;
                    }
                    >p:nth-child(5) {
                        margin-right: 0px;
                        margin-bottom: 32px;
                    }
                    button{
                        @include fonts.b2();
                        width: 100%;
                    }
                }
            }
        }
        .benefit-section {
            .benefit-wrapper {
                .benefit-item {
                    padding: 0px 0px;
                }
                .benefit-item {
                    width: 100%;
                }
            }
        }
        .who-is-section {
            .who-is-wrapper {
                .who-is-text{
                    >p:nth-child(1) {
                        margin-bottom: 32px;
                    }
                    >p:nth-child(2) {
                        margin-bottom: 0;
                    }
                }
                .who-is-scales {
                    margin-bottom: -24px;
                }
                .who-is-tablet-text {
                    margin-bottom: 32px;
                }
                .who-is-tablet-btn {
                    width: 100%;
                    @include fonts.b2();
                }
            }
        }
        .start-in-it {
            @include fonts.p2();
        }
        .sign-up-section {
            button{
                width: 100%;
                @include fonts.b2();
            }
        }
        .benefits-section {
            .benefits-footer {
                text-align: left;
            }
        }
        .form-section {
            .form-section-wrapper {
                gap: 24px;
                .form {
                    width: 100%;
                    background: transparent;
                    color: #ffffff;
                    padding: 0px;
                    button{
                        @include fonts.b2();
                        color: #0D1A30;
                    }
                }
            }
        }
    }
}