@use 'reset';
@use 'fonts';

@mixin mainButton() {
    width: 380px;
    height: 50px;
    background: #4EBD09;
    border-radius: 6px;
    border: none;
    padding: 0px 12px;
    cursor: pointer;
    @include fonts.b1();
}

*{
    box-sizing: border-box;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0px 25px;
}
.row {
    display: flex;
}

// Desktop 
.main{
    .introduce-section {
        background: #0D1A30;
        color: #ffffff;
        padding-top: 24px;
        padding-bottom: 65px;
        .logo {
            margin-bottom: 64px;
            >img{
                height: 80px;
            }
        }
        .introduce-wrapper {
            align-items: center;
            gap: 42px;
            .introduce-content {
                >p:nth-child(1) {
                    @include fonts.t1();
                }
                >p:nth-child(2) {
                    @include fonts.h1();
                    margin-bottom: 48px;
                }
                >p:nth-child(3), >p:nth-child(4) {
                    @include fonts.p2();
                }
                >p:nth-child(4) {
                    margin-bottom: 48px;
                }
                >p:nth-child(5) {
                    @include fonts.p2();
                    color: #4EBD09;
                    margin-bottom: 48px;
                    margin-right: 422px;
                }
                button{
                    @include mainButton();
                }
            }
        }
    }
    .benefit-section {
        padding-top: 104px;
        text-align: center;
        .benefit-header {
            @include fonts.h2();
            margin-bottom: 48px;
        }
        .benefit-wrapper {
            gap: 24px;
            .benefit-item {
                width: 410px;
                padding: 0px 16px;
                >img{
                    margin-bottom: 12px;
                }
                >p:nth-child(2) {
                    @include fonts.t1();
                    margin-bottom: 25px;
                }
                >p:nth-child(3) {
                    @include fonts.t2();
                }
            }
        }
    }
}

// Laptop
@media(max-width: 1200px) {
    .main{
        .introduce-section {
            .introduce-wrapper {
                .introduce-content {
                    >p:nth-child(5) {
                        margin-right: 160px;
                    }
                }
            }
        }
    }
}

// Tablet
@media(max-width: 992px) {
    .container {
        padding: 0px 15px;
    }
    .main{
        .introduce-section {
            padding: 48px 0px;
            .logo {
                margin-bottom: 48px;
            }
            .introduce-wrapper {
                .introduce-content {
                    margin-right: 100px;
                    >p:nth-child(2) {
                        @include fonts.h2();
                        margin-bottom: 32px;
                    }
                    >p:nth-child(3), >p:nth-child(4) {
                        display: none;
                    }
                    >p:nth-child(4) {
                        margin-bottom: 32px;
                    }
                    >p:nth-child(5) {
                        margin-right: 0px;
                        margin-bottom: 32px;
                    }
                }
                .introduce-img{
                    display: none;
                }
            }
        }
    }
}

// Mobile
@media(max-width: 576px) {
    .main{
        .introduce-section {
            .introduce-wrapper {
                .introduce-content {
                    margin-right: 0px;
                    >p:nth-child(2) {
                        @include fonts.h2();
                        margin-bottom: 32px;
                    }
                    >p:nth-child(4) {
                        margin-bottom: 32px;
                    }
                    >p:nth-child(5) {
                        margin-right: 0px;
                        margin-bottom: 32px;
                    }
                    button{
                        @include fonts.b2();
                        width: 100%;
                    }
                }
            }
        }
    }
}